###############################################################################
# Ignore these directories
###############################################################################

coverage
db
dist
node_modules

###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc.json
!.gitignore
!.nvmrc
!.prettierrc
